/*
 *	Variables
 *
 * 	use http://chir.ag/projects/name-that-color/#181D25
 * 	to help name colors
 *
 */

// fonts
$font-main: 'Open Sans', 'Helvetica', Arial, sans-serif;
$font-secondary: $font-main;
$font-headings: $font-main;

// font sizes
$font-size-main: 1rem;
$font-size-h1: $font-size-main * 2.25;
$font-size-h2: $font-size-main * 2;
$font-size-h3: $font-size-main * 1.75;
$font-size-h4: $font-size-main * 1.5;
$font-size-h5: $font-size-main * 1.25;
$font-size-h6: $font-size-main;

// line heights
$line-height-main: $font-size-main * 1.5;
$line-height-headings: $font-size-main * 1.5;

// other
$border-radius-main: 3px;
$shadow-main: 0 1px 2px rgba(0, 0, 0, 0.2);
$z-index-main: 0;
$spacing: 30px;

// colors
// $mirage: #181D25;
